* {
  font-family: "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(./sky-cat.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

nav {
  padding: 16px;
  margin-bottom: 4px;
  background-color: #f38ba8;
  text-align: center;
}

.nav-link {
  margin: 0 20px;
  color: #181825;
}

a {
  text-decoration: none;
}

#landing {
  text-align: center;
}

#profile {
  width: 300px;
  height: 300px;
  margin: 20px 0;
  border-radius: 50%;
  border: 4px solid #f38ba8;
}

#name {
  margin: 20px 0;
}

#title {
  margin: 20px 0;
}

#intro {
  width: 200px;
  margin: 0 auto;
}

#tools {
  text-align: center;
  margin: 20px 0;
}

#tools-title {
  margin-bottom: 20px;
}

.tools-img {
  height: 100px;
  width: 100px;
  margin: 0 20px;
  border-radius: 50%;
  border: 4px solid #f38ba8;
}

#projects {
  text-align: center;
}

.card {
  background-color: #f9e2af;
  height: 400px;
  width: 600px;
  margin: 40px auto;
  border: 4px solid #f38ba8;
  border-radius: 16px;
  padding: 16px;
}

.card-img {
  height: 300px;
  width: 300px;
}

#contact {
  text-align: center;
  padding: 16px;
  margin-top: 4px;
  background-color: #f38ba8;
}
