* {
  font-family: "Courier New", monospace;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(https://wallpapercave.com/wp/wp10821322.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  font-family: "Tahoma", sans-serif;
}

body {
  background-color: skyblue;
}

section {
  text-align: center;
}

.nav-link {
  font-size: 18px;
}

nav {
  background-color: white;
  text-align: center;
  padding: 15px;
}

.title {
  /* color: green; */
  margin-top: 10px;
  margin-bottom: 10px;
}

#hello {
  color: black;
  font-size: 2rem;
}

#logo {
  height: 300px;
  width: 300px;
  border-radius: 150px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
}

.module-card {
  height: 350px;
  width: 800px;
  padding: 20px;
  border: 2px solid black;
  background-color: white;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

#modules {
  margin-top: 30px;
  margin-bottom: 30px;
}

#moduleHeader {
  margin-top: 30px;
}

.module-img {
  height: 200px;
  width: 200px;
}
